#filery-dialog-body {
  background: #c5c5c5;

  .filery-container {
    position: relative;
    overflow: hidden;
    padding: 0 10px 0 0;
  }

}

.filery-container {
  .filery-item {
    width: calc((100% / 2) - 4px);
    padding: 2px;
    float: left;
    display: block;
    position: relative;
  }
}

.filery-item {
  &.disabled {
    opacity: 0.5;

    .filery-item-body {
      &:hover {
        cursor: not-allowed;
        background: #fff;
      }
    }
  }

  &.selected {
    .filery-item-body {
      &, &:hover {
        transition: all .3s ease;
        border-color: #1e6abc;
        background: #f0f6fd;
      }
    }

    .file-buttons {
      transition: all .3s ease;
      display: block;
    }

    .title {
      .title-name {
        transition: all .3s ease;
        margin: 20px 0 0 0;
      }
    }
  }

  .filery-item-body {
    &:hover {
      transition: all .3s ease;
      border-color: transparent;
      background: #f0f6fd;
    }
  }

  .filery-item-body {
    background: #fff;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all .3s ease;
  }

  .file-buttons {
    transition: all .3s ease;
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: none;

    ul {
      list-style: none;
      padding: 5px;
      margin: 0 !important;

      li {
        padding: 3px 5px;
        margin: 0 0 0 2px;
        cursor: pointer;
        display: inline-block;
        background: #2276d2;
        color: #fff;
        font-size: 11px;
        line-height: 16px;
        height: 16px;

        &:hover {
          background: #1e6abc;
        }

        .mce-ico {
          height: 16px;
          width: 16px;
          font-size: 16px;
          line-height: 13px;
          text-align: center;
          color: #fff;
        }

        &.delete {
          background: #fff;
          color: #595959;
          border: 1px solid #b3b3b3;
          padding: 2px 2px;

          .mce-ico {
            color: #595959;
          }
        }
      }
    }
  }

  .thumbnail {
    float: left;
    width: 80px;
    height: 80px;
    position: relative;
    padding: 5px;

    .thumbnail-image {
      background: url('../img/file.png') no-repeat center center;
      position: absolute;
      height: 80%;
      width: 80%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      &.audio {
        background-image: url('../img/audio-file.png');
      }

      &.code {
        background-image: url('../img/code-file.png');
      }

      &.text {
        background-image: url('../img/text-file.png');
      }

      &.image {
        background-image: url('../img/image-file.png');
      }

      &.zip {
        background-image: url('../img/zip-file.png');
      }

      &.video {
        background-image: url('../img/video-file.png');
      }

      &.folder {
        background-image: url('../img/folder.png');
      }
    }
  }

  .title {
    float: left;
    width: calc(100% - 100px);
    height: 80px;
    padding: 5px;

    .title-name {
      transition: all .3s ease;
      font-weight: bold;
      height: 20px;
      margin: 25px 0 0 0;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .title-meta {
      margin: 0;
      height: 20px;
      padding: 0;
      list-style: none;
      color: #929292;

      li {
        margin: 0 5px 0 0;
        font-size: 12px;
        display: inline-block;
      }
    }

  }
}
